body {
    display: flex; /* activa el modo flexible */
    justify-content: center; /* centra horizontalmente */
    align-items: center; /* centra verticalmente */
    min-height: 100vh; /* ocupa toda la altura de la pantalla */
    font-family: 'Michroma', sans-serif;
    background-image: url("https://images.pexels.com/photos/2017747/pexels-photo-2017747.jpeg"); /* imagen de fondo */
    background-size: cover; /* cubre toda la pantalla */
    background-position: center; /* centra la imagen */
    background-repeat: no-repeat; /* evita que se repita */
    margin: 0;
}

h3 {
    font-family: 'Michroma', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-top: 0;
}
.cuadro {
    background-color: #f7f7f7; /* color del cuadro */
    width: 400px; /* ancho del cuadro */
    padding: 20px; /* Espacio interno */
    border: 2px solid black;/*Borde*/
    box-shadow: 0 0 10px rgb(0, 0, 0);/* sombra */
    border-radius: 17px; /* Bordes redondos*/
}

.campo {
    display: flex;
    flex-direction: column; 
    margin-bottom: 15px;
    font-family: 'Michroma', sans-serif;
}

label { 
    font-weight: bold;
    margin-bottom: 5px;
}