body {
    display: flex; /* activa el modo flexible */
    justify-content: center; /* centra horizontalmente */
    align-items: center; /* centra verticalmente */
    height: 100vh; /* ocupa toda la altura de la pantalla */
    font-family: 'Michroma', sans-serif;
}

h3 {
    font-family: 'Michroma', sans-serif;
    font-size: 40px;
}
.cuadro {
    background-color: white; /* color del cuadro */
    width: 400px; /* ancho del cuadro */
    padding: 20px; /* Espacio interno */
    border: 3px solid black;/*Borde*/
    margin: 30px auto; /*Centra horizontalmente*/
    box-shadow: 0 0 10px gray;/* sombra */
}

.campo {
    display: flex;
    flex-direction: column; 
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}